/* Wrapper donde se sitúa todo el contenido del modal */
.modalContentWrapper {
    /*background-color: rgba(227, 227, 227, 0.9);*/
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    /*overflow-y: auto;*/
}

/* Barra estilo iOS */
.barFigureSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(220, 46, 46, 0.3);*/
}

/* Sección con el títilo del modal */
.titleSection {
    align-self: flex-start;
    font-weight: 600;
    color: #0f0f0f;
    background-color: rgba(192, 147, 147, 0.3);


    & .titleH1 {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        font-size: 1.2rem;
    }
}

/* Sección que tiene el contenido de los pedidos por fila, cada fila es un pedido desglosado */
.detailSection {
    background-color: rgba(187, 159, 217, 0.3);
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    max-height: 13rem;
}

    /* Estilizando el scroll */
        /* Oculta la scrollbar por defecto */
.detailSection::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

/* Muestra la scrollbar al hacer hover */
.detailSection:hover::-webkit-scrollbar {
    width: 4px;
    background: #e7e7e7;
    border-radius: 4px;
}

.detailSection:hover::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 4px;
}

.wrapperOrderRow {
    /*background-color: rgb(238, 238, 238);*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*gap: 0.7rem;*/
}

.iconOrderRowContainer {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 0.6rem;
    box-shadow: inset 0 0 14px 1px rgba(0, 0, 0, 0.13);
}

.iconFigureOrder {
    width: 2.5rem;
    aspect-ratio: 1/1;
    background-image: url('/icons/icon-leaf.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.50));
}

.textOrderRowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(217, 131, 131, 0.5);
    width: 65%;
    height: 100%;
}

.textOrderFirstLine {
    color: #010101;
    font-weight: 400;
    font-size: 0.9rem;
}

.textOrderSecondLine {
    color: #A8A8A8;
    font-size: 0.8rem;
    font-weight: 300;
}

.totalDateOrderRowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #C2DB9A;
    flex-grow: 1;
    height: 100%;
}

.orderPricing {
    color: #F24E30;
    font-weight: 600;
    font-size: 1rem;
}

.orderDate {
    color: #A8A8A8;
    font-weight: 300;
    font-size: 1rem;
}

/* Sección de botones */
.buttonsFooterSection {
    background-color: rgba(138, 176, 35, 0.3);
}