/* Wrapper donde se sitúa el contenido del modal */
.modalContentWrapper {
    /*background-color: rgba(227, 227, 227, 0.9);*/
    width: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    height: 100%;
}

/* Barra estilo iOS */
.barFigureSection {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgba(220, 46, 46, 0.3);*/
}

/* Sección con el títilo del modal */
.titleSection {
    align-self: flex-start;
    color: #0f0f0f;
    /*background-color: rgba(192, 147, 147, 0.3);*/

    & .titleH1 {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        text-wrap: nowrap;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

/* Sección que tiene el contenido de los pedidos por fila, cada fila es un pedido desglosado */
.detailSection {
    /*background-color: rgba(187, 159, 217, 0.3);*/
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
    max-height: 16rem;
    outline: none;
}

    /* Estilizando el scroll */
        /* Oculta la scrollbar por defecto */
.detailSection::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

/* Muestra la scrollbar al hacer hover */
.detailSection:hover::-webkit-scrollbar {
    width: 4px;
    background: #e7e7e7;
    border-radius: 4px;
}

.detailSection:hover::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 4px;
}

.wrapperOrderRow {
    /*background-color: rgb(238, 238, 238);*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /*gap: 0.7rem;*/
}

.iconOrderRowContainer {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 0.6rem;
    box-shadow: inset 0 0 14px 1px rgba(0, 0, 0, 0.13);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.iconOrderRowContainerPointer {
    cursor: pointer;
}

.iconOrderRowContainerPointer:hover {
    background-color: #f8da55;
}

.iconFigureOrder {
    width: 2.5rem;
    aspect-ratio: 1/1;
    background-image: url('/icons/afood-leaf-margin.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.50));
}

.textOrderRowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*background-color: rgba(217, 131, 131, 0.5);*/
    width: 65%;
    height: 100%;
    padding-left: 0.7rem;
}

.textOrderFirstLine {
    color: #010101;
    font-weight: 400;
    font-size: 0.9rem;
}

.textOrderSecondLine {
    color: #A8A8A8;
    font-size: 0.8rem;
    font-weight: 300;
}

.totalDateOrderRowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*background-color: #C2DB9A;*/
    flex-grow: 1;
    height: 100%;
}

.orderPricing {
    color: #F24E30;
    font-weight: 600;
    font-size: 1rem;
}

.orderDate {
    color: #A8A8A8;
    font-weight: 300;
    font-size: 1rem;
}

/* Sección de botones */
.buttonsFooterSection {
    width: 79%;
    /*background-color: rgba(138, 176, 35, 0.3);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.firstButton {
    width: auto;
    background-color: #fee045;
    color: #00572D;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.4rem 1.8rem;
    box-shadow: 0 0 0 2px #fee045, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.firstButton:hover {
    background-color: #eeeeee;
    box-shadow: 0 0 0 2px #00572d, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.firstButton:focus {
    box-shadow: 0 0 0 2px #00572d, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.firstButton:active {
    background-color: #00572d;
    color: #eeeeee;
}

.firstButton:disabled {
    transform: none;
    color: #00572D;
    background-color: #fee045;
    box-shadow: 0 0 0 2px #fee045, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.secondButton {
    width: auto;
    padding: 0.4rem 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #eeeeee;
    color: #00572d;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 0 0 2px #00572d, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.secondButton:hover {
    background-color: #eeeeee;
    box-shadow: 0 0 0 2px #00572d, 0 4px 8px rgba(0, 0, 0, 0.15);
}

.secondButton:focus {
    box-shadow: 0 0 0 2px #00572d, 0 4px 8px rgba(0, 0, 0, 0.15);
    filter: brightness(93%);
}

.secondButtonIcon {
    width: 1.2rem;
    aspect-ratio: 1/1;
    display: inline-block;
    vertical-align: middle;
}




/* Media queries para ajustar el diseño más que nada en escritorio */
    /* Mayor a pantallas 720p */
@media (min-width: 1440px) {
    .modalContentWrapper {
        width: 83%;
    }

    .detailSection {
        max-height: 20rem;
    }
}