@import "tailwindcss";

html {
    font-size: 16px; /* Base para desktop */
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Base para tablet/mobile */
    }
}

:root {
    --background: #FDFDFD;
    --foreground: #161616;
    --font-poppins: ;
}

body {
    background: var(--background);
    color: var(--foreground);
    /*font-family: Arial, sans-serif;*/
    font-family: var(--font-poppins), Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 1.7rem;
}

button {
    width: 100%;
    color: #ffffff;
    background-color: #00A751;
    padding: 0.55rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}

button:hover {
    background-color: #008C44;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(0);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
