@import "tailwindcss";

:root {
    --background: #f0f0f0;
    --foreground: #161616;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 1.7rem;
}
