.dashboardWrapper {
    gap: 1.7rem;
}

.dashboardWrapper::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: clamp(250px, 50vh, 60vh);
    background-color: #E9E5E5;
    z-index: -1;
    border-radius: 0 0 3rem 3rem;
}

.customerHeader {
    background-color: rgba(232, 118, 199, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customerLogo {
    object-fit: contain;
    object-position: center;
    padding: 0.4rem;
}

.sectionCreditCard {
    /*background-color: rgb(231, 171, 171);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.cardBase {
    background-image: url("/card/base-card.svg");
    background-blend-mode: multiply;
    width: 100%;
    max-width: 420px;
    aspect-ratio: 3 / 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(90%) saturate(98%) contrast(123%) drop-shadow(0 3px 2px rgba(0,0,0,0.70));
}

.cardFirstColumn {
    /*background-color: rgba(0, 0, 0, 0.35);*/
    width: 72%;
    height: 90%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 1.5rem;
    overflow: hidden;
}

.cardWrapperTotal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.chipCard {
    width: 4rem;
    aspect-ratio: 2/1;
    background-image: url("/card/chip-card.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    align-self: flex-start;
}

.cardSecondColumn {
    /*background-color: rgba(219, 154, 208, 0.65);*/
    height: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /*padding-top: 0.8rem;*/
}

.cardWrapperIcons {
    align-self: flex-start;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    width: 77%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.cardAfoodLogo,
.cardWireless {
    width: 3.8rem;
    aspect-ratio: 2/1;
    background-image: url("/branding/logo-afood-font-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #C2DB9A;*/
}

.cardAfoodLogo {
    margin-top: 0.7rem;
}

.cardWireless {
    width: 1.9rem;
    aspect-ratio: 1/1;
    background-image: url("/card/wireless-symbol.svg");
    transform: rotate(90deg);
}

    /* Este selector permite sacar una sección de los límites establecidos por sus contenedores padre */
.sectionFullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-left: 0;
    padding-right: 0;
}

.sectionButtonDetails {
    background-color: rgba(0, 0, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonDetails {
    width: 32%;
    border-radius: 1rem;
    padding: 0.3rem 0.2rem;
    font-weight: 500;
    text-align: center;
}

.sectionSummaryOrders {
    background-color: rgba(0, 0, 128, 0.2);
}

.sectionCardEnvironment {
    background-color: rgba(228, 232, 118, 0.2);
}

.sectionAchievements {
    background-color: rgba(213, 163, 193, 0.2);
}

.sectionPolicies {
    background-color: rgba(35, 152, 246, 0.2);
}