/* =-=-= Configuración adicional del contenedor padre =-=-= */
.dashboardWrapper {
    gap: 1.5rem;
}

.dashboardWrapper::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: clamp(400px, 56vh, 60vh);
    background-color: #E9E5E5;
    z-index: -1;
    border-radius: 0 0 3rem 3rem;
}

/* =-=-= Configuración para el header de cliente =-=-= */
.customerHeader {
    /*background-color: rgba(232, 118, 199, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customerLogo {
    object-fit: contain;
    object-position: center;
    padding: 0.4rem;
}

/* =-=-= Sección de la tarjeta de "crédito" afood =-=-= */
.sectionCreditCard {
    /*background-color: rgb(231, 171, 171);*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.cardBase {
    background-image: url("/card/base-card.svg");
    background-blend-mode: multiply;
    width: 100%;
    min-width: 265px;
    max-width: 420px;
    aspect-ratio: 3 / 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(90%) saturate(98%) contrast(123%) drop-shadow(0 3px 2px rgba(0,0,0,0.70));
}

.cardFirstColumn {
    /*background-color: rgba(0, 0, 0, 0.35);*/
    width: 72%;
    height: 90%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    padding: 1.5rem;
    overflow: hidden;
}

.cardWrapperTotal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.chipCard {
    width: 4rem;
    aspect-ratio: 2/1;
    background-image: url("/card/chip-card.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    align-self: flex-start;
}

.cardSecondColumn {
    /*background-color: rgba(219, 154, 208, 0.65);*/
    height: 90%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    /*padding-top: 0.8rem;*/
}

.cardWrapperIcons {
    align-self: flex-start;
    /*background-color: rgba(255, 255, 255, 0.3);*/
    width: 77%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.cardAfoodLogo,
.cardWireless {
    width: 3.8rem;
    aspect-ratio: 2/1;
    background-image: url("/branding/logo-afood-font-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: #C2DB9A;*/
}

.cardAfoodLogo {
    margin-top: 0.7rem;
}

.cardWireless {
    width: 1.9rem;
    aspect-ratio: 1/1;
    background-image: url("/card/wireless-symbol.svg");
    transform: rotate(90deg);
}

/* =-=-= Sección del botón que muestra el desglose de la deuda =-=-= */
.sectionButtonDetails {
    /*background-color: rgba(0, 0, 128, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonDetails {
    width: clamp(95px, 50%, 200px);
    border-radius: 1rem;
    padding: 0.25rem 0.4rem;
    font-weight: 500;
    text-align: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0;
}

/* =-=-= Sección de resumen con las cards que brindan información de los pedidos del cliente =-=-= */
.sectionSummaryOrders {
    /*background-color: rgba(0, 0, 128, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summaryCardsScrollable {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7rem;
    /*background-color: #f8a3a3;*/
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 6.2rem;
    /*scroll-padding: 1rem;*/
    padding: 0 0.1rem;
    -webkit-overflow-scrolling: touch; /* Scroll suave en iOS */
    scroll-behavior: smooth;
}

.summaryCardsScrollable::-webkit-scrollbar {
    height: 0; /* Quitar scrollbar */
}

.summaryCardBase {
    scroll-snap-align: start;
    width: 10rem;
    flex-shrink: 0; /* Evita que las cards se compriman */
    background-image: url("/misc/summary-card-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3/2;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.43));
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.summaryCardSecondFigure {
    background-image: url("/misc/summary-card-02.svg");
}

.summaryCardTextWrapper {
    /*background-color: rgba(194, 219, 154, 0.39);*/
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1;
    gap: 2px;
    color: #00373e;
}

.summaryCardTextWrapperTitle {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.summaryCardTextWrapperValue {
    font-size: 2.3rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.summaryCardTextWrapperValueLong {
    font-size: 1.9rem;
}

/* =-=-= Sección de la tarjeta que tiene un call to action para redirigir a la vista de impacto ambiental =-=-= */
.sectionCardEnvironment {
    /*background-color: rgba(228, 232, 118, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerCardEnvironment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/banners/environment-card.svg");
    width: clamp(290px, 100%, 28rem);
    aspect-ratio: 2/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 3px 2px rgba(0,0,0,0.40));
    flex-shrink: 0;
}

.bannerCardEnvironmentContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 51%;
    height: 91%;
    /*background-color: rgba(31, 232, 129, 0.42);*/
    color: #FDFDFD;
    line-height: 1;
    gap: 0.55rem;
    padding-left: 1.5rem;
    overflow: hidden;
}

.bannerCardEnvironmentButton {
    width: 53%;
    font-size: 0.75rem;
    text-align: center;
    background-color: #fbe053;
    color: #5a5544;
    padding: 0.45rem 0.2rem;
}

.bannerCardEnvironmentButton:hover {
    background-color: #FDFDFD;
    color: #458358;
}

.bannerCardEnvironmentButton:focus {
    box-shadow: 0 0 0 2px #d7a423, 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* =-=-= Sección con los badges del cliente =-=-= */
.sectionAchievements {
    /*background-color: rgba(213, 163, 193, 0.2);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievementsCardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/misc/card-top-buyer.svg");
    width: clamp(280px, 100%, 33rem);
    aspect-ratio: 4/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 4px 3px rgba(0,0,0,0.50));
    overflow: hidden;
    flex-shrink: 0;
}

.achievementsCardTextContainer {
    width: clamp(12rem, 45%, 17rem);
    margin-left: clamp(4rem, 6vw, 2rem);
    height: 90%;
    /*background-color: #C2DB9A;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #1e4e54;
    padding-left: 0.6rem;
    line-height: 1rem;
}

/* =-=-= Sección de políticas afood =-=-= */
.sectionPolicies {
    background-color: rgba(35, 152, 246, 0.2);
}




/* =-=-= Media queries para ajustar detalles en pantallas de escritorio =-=-= */
@media (min-width: 1300px) {
    .dashboardWrapper::before {
        height: 59.6vh;
    }
}

@media (max-width: 1366px) and (max-height: 768px) {
    .dashboardWrapper::before {
        height: 84vh;
    }
}
